extends ../dashboard
block dashboard
    h2 Manage posts
    p

        form(action="/post/sync" method="POST")
            a.btn.btn-default.btn-group.btn-primary(href="/post/new") Add new
            = ' '
            input.btn.btn-default.btn-group.btn-info(type="submit" value="Sync from Ghost")

    .list-group
        each v in posts
            a.list-group-item.list-group-item-action(href="#") #{v.name}
