extends layout

block content
  h1= title
  p Welcome to #{title}
  .navbar
    .navbar-inner
      .container-fluid
        .nav-collapse
        ul.nav
         li.active(onclick="move('login')")
          a(href="javascript:void(0)") Login
         li(onclick="move('register')")
          a(href="javascript:void(0)") Register
        p.navbar-text.pull-left You are logged in as &#32;
          a(href="javascript:void(0)") GUEST
        script.
            function move(goto) {
                window.location.href=goto;
            }