extends dashboard

block dashboard
    h2 Dashboard
    p Now time is #{datenow}
        ul.nav.nav-pills.flex-column
            if capability.manage_user
                li.nav-item
                    a.nav-link(href="/user/list") Manage Users
            li.nav-item
                a.nav-link(href="/post/list") Manage Posts
            if capability.manage_user
                li.nav-item
                    a.nav-link(href="#") Something 3