extends ../dashboard

block dashboard
    h2 Dashboard
    p You can manage the following
        ul.nav.nav-pills.flex-column
            if capability.manage_user
                li.nav-item
                    a.nav-link(href="/user/list") Manage Users
            li.nav-item
                a.nav-link(href="/post") Manage Posts

            li.nav-item
                a.nav-link(href="/weather") Weather
            li.nav-item
                a.nav-link(href="/covid") Covid