doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/publicstyle.css')
    link(rel='stylesheet', href='/bootstrap-css/bootstrap.min.css')
    script(src="/socket.io/socket.io.js")
    script(type="application/javascript" src="/jquery/jquery.min.js")
    script(type="application/javascript" src="/javascripts/chat-script.js")
    script(type="application/javascript" src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
  body
    block bodycontent
